<head>
  <meta charset="UTF-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/blog/css/reset.css">
  <link rel="stylesheet" href="/blog/css/style.css">
  <link rel="stylesheet" href="/blog/css/syntax.css">

  <!-- js -->
  <script src="/blog/js/scrollup.js" type="text/javascript"></script>
  <script src="https://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
  <script src="https://use.fontawesome.com/ae36eec7da.js" type="text/javascript"></script>

  <!-- Icons -->

  
	<link href='/blog/img/favicon.png' rel='icon' type='image/png'/>

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="blog/atom.xml">

      <!-- Put this script tag to the <head> of your page -->
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?168"></script>
    <script type="text/javascript">
      VK.init({ apiId: 8175871, onlyWidgets: true });
    </script>
<style>
  .wcomments_head {
  background: #5B7FA6 !important;
  }
  #submit_post_box_wrap {
  background: #F7F7F7 !important;
  }
  .button_blue button, .button_blue.button_disabled button:active, .button_blue.button_disabled button.active, .button_blue.button_disabled button:hover, .button_blue.button_disabled button.hover {
  background: #658ab0 !important;
  color: #FFF !important;
  }
  </style>

</head>
