<!DOCTYPE html>
<html lang="ru">

  {% _layouts head.html %}

  <body>
      <div class="masthead">
        <h3 class="masthead-title">
            <a class="home__title" href="/blog" title="Home">{{ site.title }}</a>

            {% for page in site.pages_list %}
              &nbsp;&nbsp;&nbsp;
              <small><a href="/blog{{ page[1]  }}">{{ page[0] }}</a></small>
            {% endfor %}

            <p> <small>{{ site.tagline }}</small> </p>
        </h3>
      </div><!-- /.masthead -->

    <div class="container content">


      {{ content }}


    </div><!-- /.container -->

      <div class="footer">
        <div id="scrollup">
            <img src="./img/up.png" class="up" alt="Scroll up" />
        </div>
        <p>
          &copy; {{ site.time | date: '%Y' }}. All rights reserved.
        </p>
      </div><!-- /.footer -->

  </body>
</html>
