<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
      <div class="masthead">
        <h3 class="masthead-title">
            <a class="home__title" href="/blog" title="Home">{{ site.title }}</a>

            {% for page in site.pages_list %}
              &nbsp;&nbsp;&nbsp;
              <small><a href="/blog{{ page[1]  }}">{{ page[0] }}</a></small>
            {% endfor %}

            <p> <small>{{ site.tagline }}</small> </p>
        </h3>
      </div><!-- /.masthead -->
     <!-- <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#5aa9e1" fill-opacity="1" d="M0,128L80,117.3C160,107,320,85,480,96C640,107,800,149,960,154.7C1120,160,1280,128,1360,112L1440,96L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg> -->
         <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1280 140"><path d="M0 51.76c36.21-2.25 77.57-3.58 126.42-3.58 320 0 320 57 640 57 271.15 0 312.58-40.91 513.58-53.4V0H0z" fill-opacity=".2"/><path d="M0 24.31c43.46-5.69 94.56-9.25 158.42-9.25 320 0 320 89.24 640 89.24 256.13 0 307.28-57.16 481.58-80V0H0z" fill-opacity=".8"/><path d="M0 0v3.4C28.2 1.6 59.4.59 94.42.59c320 0 320 84.3 640 84.3 285 0 316.17-66.85 545.58-81.49V0z"/></svg>

    <div class="wrapper__box">

      <div class="container content">


        {{ content }}


      </div><!-- /.container -->

      <div class="aside">
        <div class="sidebar">
          <div class="box__item">
            <h2>Полезные материалы</h2>            
            * Наполнение блока
            * Наполнение блока
          </div>
          <div class="box__item">
            <h2>Блок №2</h2>
            Наполнение блока
          </div>
          <div class="box__item">
            <h2>Блок №3</h2>
            Наполнение блока
          </div>
        </div><!-- /.sidebar -->     
      </div><!-- /.aside -->

    </div><!-- /.wrapper__box -->


      <div class="footer">
        <div id="scrollup">
            <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
        </div>
        <p>
          &copy; {{ site.time | date: '%Y' }}. Все права защищены и соблюдаются - МО РФ.
        </p>
      </div><!-- /.footer -->

  </body>
</html>
